<div class="button-on-top">

</div>
<div class="main-container">
    <div class="medicare-form-header">
        <h1>MEDICARE PREVENTIVE PHYSICAL EXAM</h1>
        <span>Today’s Date:</span><input type="date">
    </div>
    <div class="intial-form-conatiner">
        <div class="intial-form">
            <div class="row-one">
                <div style="width:30%">
                    <div style="width:90%;margin-left: 10px;border: none;">
                        <mat-checkbox><span>Initial Preventive Physical Exam
                                (Welcome to Medicare Physical)</span></mat-checkbox>
                    </div>
                </div>
                <div style="width:25%">
                    <div style="width:90%;margin-left: 10px;border: none;margin-top: 10px;">
                        <mat-checkbox><span>Initial annual
                                wellness visit
                            </span></mat-checkbox>
                    </div>
                </div>
                <div style="width:20%">
                    <div style="width:90%;margin-left: 10px;border: none;">
                        <mat-checkbox><span style="margin-top: 10px;">  Subsequent annual
                                wellness visit
                            </span></mat-checkbox>
                    </div>
                </div>
                <div style="width:25%;border: none;">
                    <div style="width:90%;margin-left: 10px;border: none;margin-top: 10px;">
                        <mat-checkbox><span>Other</span></mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="row-two">
                <div>
                    <span>Patient Name:</span>
                    <input type="text">
                </div>
                <div>
                    <span>Medical Record:</span>
                    <input type="text">
                </div>
                <div style="width: 25%;border: none;">
                    <span>Date of Birh:</span>
                    <input type="date" style="margin-left: 40px;">
                </div>
            </div>
            <div class="row-two">
                <div>
                    <span>Staff conducting initial intake:</span>
                    <input type="text">
                </div>
                <div>
                    <span>Date of last exam :</span>
                    <input type="date">
                </div>
                <div style="width: 25%;border: none;">
                    <span>Medicare B eligibility date:</span>
                    <input type="text" style="margin-left: 40px;">
                </div>
            </div>
            <div class="row-four" style="height:17% ;">
                <div>
                    <span>Language or other communication barriers: (describe)</span>
                    <input type="text">
                </div>
                <div style="width: 12.4%;">
                    <span>Sex</span>
                    <div class="sex-design">
                        <mat-checkbox><span>M</span></mat-checkbox>
                        <mat-checkbox style="margin-left: 7px;"><span>F</span></mat-checkbox>
                    </div>

                </div>
                <div style="width: 12.5%;border: none;">
                    <span>LMP</span>
                    <input type="text" style="margin-left:10px;">
                </div>
            </div>
            <div class="row-four" style="height: 20%;">
                <div>
                    <span>Interpreter or other accommodation provided today: (describe)</span>
                    <input type="text" style="margin-top: 39px;">
                </div>
                <div style="width: 12.5%;">
                    <span>Gravida/para:</span>
                    <input type="text" style="margin-left:10px;margin-top: 39px;">
                </div>
                <div style="width: 12.5%; border: none;">
                    <span>Year of
                        menopause:</span>
                    <input type="text" style="margin-left:10px;margin-top: 39px;">
                </div>
            </div>
            <div class="row-six">
                <div>
                    <span>Vital signs</span><input type="text">
                </div>
                <div>
                    <span>HT</span><input type="text">
                </div>
                <div>
                    <span>WT</span><input type="text">
                </div>
                <div>
                    <span>BMI</span><input type="text">
                </div>
                <div>
                    <span>Waist</span><input type="text">
                </div>
                <div>
                    <span>BP</span><input type="text">
                </div>
                <div>
                    <span>Temp</span><input type="text">
                </div>
                <div style="border: none;">
                    <span>P/R</span><input type="text">
                </div>
            </div>
            <div class="row-seven">
                <div>
                    <mat-checkbox><span>Patient-completed health risk assessment (AWV only; e.g.
                            www.medicalhealthassess.org)
                        </span></mat-checkbox>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <div class="social-history-container">
        <div class="social-history">
            <div class="social-row-one">
                <span style="margin-left: 7px;">Social history</span>
            </div>
            <div class="social-row-two">
                <span style="font-weight: 500;margin-left: 7px;">Tobacco</span>
                <div>
                    <div class="checkboxes">
                        <mat-checkbox>Current</mat-checkbox>
                    </div>
                    <div class="checkboxes">
                        <span>Type:</span><input type="text">
                    </div>
                    <div class="checkboxes">
                        <span>Freq:</span><input type="text">
                    </div>
                    <div class="checkboxes">
                        <mat-checkbox>2nd hand</mat-checkbox>

                    </div>
                    <div class="checkboxes">
                        <mat-checkbox>Never</mat-checkbox>

                    </div>
                    <div class="checkboxes">
                        <mat-checkbox>Prior use</mat-checkbox>

                    </div>
                    <div class="checkboxes">
                        <span>Quit Date:</span><input style="width: 50%;" type="text">

                    </div>
                </div>
            </div>
            <div class="social-row-three">
                <span style="font-weight: 500;margin-left: 7px;">ETOH</span>
                <div>
                    <div class="checkboxes" style="margin-left: 27px; width:12% ;">
                        <mat-checkbox>Never</mat-checkbox>
                    </div>
                    <div class="checkboxes">
                        <mat-checkbox>  Occasional</mat-checkbox>

                    </div>
                    <div class="checkboxes">
                        <mat-checkbox>  Daily</mat-checkbox>

                    </div>
                    <div class="checkboxes" style="width:28% ;display: flex;
                    flex-direction: column;">
                        <span>History of ETOH: (describe)</span><input style="width: 90%;margin-top: 30px;" type="text">

                    </div>
                </div>
            </div>
            <div class="social-row-four">
                <div class="diet-notes">
                    <span style="font-weight: 500;margin-left: 7px;">Diet notes:</span><input type="text">
                </div>
                <div class="Caffine">
                    <span style="font-weight: 500;margin-left: 7px;">Caffine:</span>
                    <div>
                        <div class="checkboxes">
                            <mat-checkbox>Never</mat-checkbox>
                        </div>

                        <div class="checkboxes">
                            <mat-checkbox>Occasional</mat-checkbox>

                        </div>
                        <div class="checkboxes">
                            <mat-checkbox style="margin-left: 10px;">Daily</mat-checkbox>

                        </div>

                    </div>
                </div>
            </div>
            <div class="social-row-five">
                <span style="font-weight: 500;margin-left: 7px;">Drugabuse</span>
                <div>
                    <div class="div-inner">
                        <div class="checkboxes" style="margin-left: -3px; width:12% ;">
                            <mat-checkbox>Never</mat-checkbox>
                        </div>
                        <div class="checkboxes">
                            <mat-checkbox>Occasional</mat-checkbox>

                        </div>
                        <div class="checkboxes">
                            <mat-checkbox> Daily</mat-checkbox>

                        </div>
                        <div class="checkboxes">
                            <mat-checkbox> Prior use</mat-checkbox>

                        </div>
                        <div class="checkboxes" style="width:34% ;display: flex;
                    flex-direction: row;margin-top: 2px;">
                            <span>Quit date:</span><input style="width: 50%;margin-top: -9px;" type="date">

                        </div>
                    </div>
                    <div class="lower-div">
                        <span>History of drug abuse: (describe)</span>
                        <input type="text">
                    </div>
                </div>
            </div>
            <div class="social-row-six">
                <div class="diet-notes">
                    <span style="font-weight: 500;margin-left: 7px;">Occupation:</span><input type="text">
                </div>
                <div class="Caffine">
                    <span style="font-weight: 500;margin-left: 7px;">Exercise type/frequency:</span><input type="text">
                </div>
            </div>
            <div class="social-row-seven">
                <span style="font-weight: 500;width: 17%;font-weight: 500;margin-left: 7px;">Home environment</span>
                <div>
                    <div class="checkboxes" style=" width:12% ;">
                        <mat-checkbox>Private Home</mat-checkbox>
                    </div>
                    <div class="checkboxes" style="margin-left: 40px;">
                        <mat-checkbox>Assisted living</mat-checkbox>

                    </div>
                    <div class="checkboxes">
                        <mat-checkbox>Others:(describe)</mat-checkbox>

                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class="famil-history-container">
        <div class="family-history">
            <div class="family-row-one">
                <span style="margin-top: 10px;">Family history</span><br>
                <span> use ✓ to indicate positive history</span>
            </div>
            <div class="family-row-two">
                <div style="width:15%;height: 100%;border-left: none;"></div>
                <div>
                    <span>Self</span>
                </div>
                <div>
                    <span>Father</span>
                </div>
                <div>
                    <span>Mother</span>
                </div>
                <div>
                    <span>Sisters</span>
                </div>
                <div>
                    <span>Brothers</span>
                </div>
                <div>
                    <span>Aunts</span>
                </div>
                <div>
                    <span>Uncles</span>
                </div>
                <div>
                    <span>Daughters</span>
                </div>
                <div>
                    <span>Sons</span>
                </div>
            </div>
            <div class="family-row-two">
                <div style="width:15%;height: 100%;border-left: none;justify-content: start;">
                    <span style="margin-left: 7px;">Deceased</span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
            <div class="family-row-two">
                <div style="width:15%;height: 100%;justify-content: start;border-left: none;">
                    <span style="margin-left: 7px;">Hypertension</span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
            <div class="family-row-two">
                <div style="width:15%;height: 100%;justify-content: start;border-left: none;">
                    <span style="margin-left: 7px;">Heart disease</span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
            <div class="family-row-two">
                <div style="width:15%;height: 100%;justify-content: start;border-left: none;">
                    <span style="margin-left: 7px;">Stroke</span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
            <div class="family-row-two">
                <div style="width:15%;height: 100%;justify-content: start;border-left: none;">
                    <span style="margin-left: 7px;">Kidney disease</span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
            <div class="family-row-two">
                <div style="width:15%;height: 100%;justify-content: start;border-left: none;">
                    <span style="margin-left: 7px;">Obesity</span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
            <div class="family-row-two">
                <div style="width:15%;height: 100%;justify-content: start;border-left: none;">
                    <span style="margin-left: 7px;">Genetic disorder</span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
            <div class="family-row-two" style="border-bottom: none;">
                <div style="width:15%;height: 100%;justify-content: start;border-left: none;">
                    <span style="margin-left: 7px;">Alcoholism</span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
        </div>
    </div>
    <div class="page-1-footer">
        <div>
            <div class="img">
                <img src="../../assets/medicare-img-1.png">
            </div>
            <div class="img-text">
                <span><b style="color: #a41a2d;">FPM Toolbox </b>To find more practice resources, visit
                    https://www.aafp.org/fpm/toolbox.
                    Developed by Cindy Hughes, CPC. Copyright © 2011 American Academy of Family Physicians. Physicians
                    may
                    duplicate or adapt for use in their own practices; all other rights reserved. Related article:
                    https://www.aafp.org/
                    fpm/2011/0100/p22.html</span>
            </div>
        </div>
    </div>
    <div class="page-2-header">
        <div>
            <span>Patient Name:</span><input style="width: 50%;" type="text">
            <span>Today's Date:</span><input style="width: 20%;" type="date">
        </div>

    </div>
    <div class="famil-history-container">
        <div class="family-history">
            <div class="family-row-one">
                <span style="margin-top: 10px;">Family history</span><i style="margin-left: 7px;">continued</i><br>
                <span> use ✓ to indicate positive history</span>
            </div>
            <div class="family-row-two" style="height:11%">
                <div style="width:15%;height: 100%;border-left: none;"></div>
                <div>
                    <span>Self</span>
                </div>
                <div>
                    <span>Father</span>
                </div>
                <div>
                    <span>Mother</span>
                </div>
                <div>
                    <span>Sisters</span>
                </div>
                <div>
                    <span>Brothers</span>
                </div>
                <div>
                    <span>Aunts</span>
                </div>
                <div>
                    <span>Uncles</span>
                </div>
                <div>
                    <span>Daughters</span>
                </div>
                <div>
                    <span>Sons</span>
                </div>
            </div>
            <div class="family-row-two" style="height:12%">
                <div style="width:15%;height: 100%;border-left: none;justify-content: start;">
                    <span style="margin-left: 7px;">Liver disease</span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
            <div class="family-row-two" style="height:16%">
                <div style="width:15%;height: 100%;justify-content: start;border-left: none;">
                    <span style="margin-left: 7px;font-size: 1vw;">Depression or manic
                        depressive disorder
                    </span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
            <div class="family-row-two" style="height:11%">
                <div style="width:15%;height: 100%;justify-content: start;border-left: none;">
                    <span style="margin-left: 7px;">Colon or rectal cancer
                    </span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
            <div class="family-row-two" style="height:11%">
                <div style="width:15%;height: 100%;justify-content: start;border-left: none;">
                    <span style="margin-left: 7px;">Breast cancer</span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
            <div class="family-row-two" style="height:11%">
                <div style="width:15%;height: 100%;justify-content: start;border-left: none;">
                    <span style="margin-left: 7px;">Other cancer</span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>
            <div class="family-row-two" style="height:11%;border-bottom: none;">
                <div style="width:15%;height: 100%;justify-content: start;border-left: none;">
                    <span style="margin-left: 7px;">Other:</span>
                </div>
                <div> <mat-checkbox></mat-checkbox></div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>
                <div>
                    <mat-checkbox></mat-checkbox>
                </div>

            </div>

        </div>
    </div>
    <div class="medical-history-container">
        <div class="medical-history">
            <div class="medihist-row-one">
                <span>Medical history</span>
            </div>
            <div class="medihist-row-two">
                <div style="border-left: none;"><span>Hospital visits since
                        last office visit/reason</span></div>
                <div><span>Facility</span></div>
                <div><span>Attending physician</span></div>
                <div><span>Date of
                        hospital visit</span></div>
                <div><span>Past surgeries (include date and
                        description of any complications)</span></div>
            </div>
            <div class="medihist-row-multiple">
                <div style="border-left: none;">
                    <input type="text">
                </div>
                <div>
                    <input type="text">
                </div>
                <div>
                    <input type="text">

                </div>
                <div>
                    <input type="text">

                </div>
                <div>
                    <input type="text">

                </div>
            </div>
            <div class="medihist-row-multiple">
                <div style="border-left: none;">
                    <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
            </div>
            <div class="medihist-row-multiple">
                <div style="border-left: none;"> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
            </div>
            <div class="medihist-row-multiple">
                <div style="border-left: none;"> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
            </div>
            <div class="medihist-row-multiple">
                <div style="border-left: none;"> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
            </div>
            <div class="medihist-row-multiple">
                <div style="border-left: none;"> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
            </div>
            <div class="medihist-row-multiple" style="border-bottom: none;">
                <div style="border-left: none;"> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>
            </div>
        </div>
    </div>
    <div class="medical-history-container" style="height: 150px;">
        <div class="medical-history">
            <div class="medihist-row-one" style="height: 25%;">
                <span>Injuries (since last physical exam)</span>
            </div>
            <div class="medihist-row-multiple" style="height: 25%;">
                <div style="border-left: none;"><span>Date</span></div>
                <div><span>Type</span></div>
                <div><span>Treatment recieved</span></div>
            </div>
            <div class="medihist-row-multiple" style="height: 25%;">
                <div style="border-left: none;"> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>

            </div>
            <div class="medihist-row-multiple" style="height: 25%;">
                <div style="border-left: none;"> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>

            </div>
            <div class="medihist-row-multiple" style="border-bottom: none; height: 18.7%;">
                <div style="border-left: none;"> <input type="text">
                </div>
                <div> <input type="text">
                </div>
                <div> <input type="text">
                </div>

            </div>
        </div>
    </div>
    <div class="medical-history-container" style="height: 200px;">
        <div class="medical-history">
            <div class="medihist-row-one" style="height: 25%;">
                <span>Allergy list</span>
            </div>
            <div class="medihist-row-multiple" style="height: 18.7%;">
                <div style="border-left: none;width: 50%;"><span>Allergies</span></div>
                <div style="width: 50%;"><span>Type of reaction</span></div>
                <!-- <div><span>Treatment recieved</span></div> -->
            </div>
            <div class="medihist-row-multiple" style="height: 18.7%;">
                <div style="border-left: none;width: 50%;"> <input type="text">
                </div>
                <div style="width: 50%;"> <input type="text">
                </div>
                <!-- <div></div> -->

            </div>
            <div class="medihist-row-multiple" style="height: 18.7%;">
                <div style="border-left: none;width: 50%;"> <input type="text">
                </div>
                <div style="width: 50%;"> <input type="text">
                </div>
                <!-- <div></div> -->

            </div>
            <div class="medihist-row-multiple" style="border-bottom: none; height: 18.7%;">
                <div style="border-left: none;width: 50%;"> <input type="text">
                </div>
                <div style="width: 50%;"> <input type="text">
                </div>
                <!-- <div></div> -->

            </div>
            <div class="medihist-row-multiple" style="border-bottom: none; height: 18.7%;">
                <div style="border-left: none;width: 50%;"> <input type="text">
                </div>
                <div style="width: 50%;"> <input type="text">
                </div>
                <!-- <div></div> -->

            </div>
        </div>
    </div>
    <div class="medical-history-container">
        <div class="medical-history">
            <div class="medihist-row-one">
                <span>Medication list</span>
                <span>if noted elsewhere in chart, indicate location:</span>
            </div>
            <div class="medihist-row-two">
                <div style="border-left: none; width: 30%;"><span>Herbals, supplements, OTC drugs,
                        substances of abuse</span></div>
                <div style="width: 10%;"><span>Date
                        started</span></div>
                <div style="width: 20%;"><span>Date
                        discontinued</span></div>
                <div style="width: 30%;"><span>Rx meds, dose, frequency,
                        route</span></div>
                <div style="width: 10%;"><span>Date
                        started</span></div>
                <div><span>Date
                        discontinued</span></div>
            </div>
            <div class="medihist-row-multiple">
                <div style="border-left: none; width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div style="width: 20%;"> <input type="text">
                </div>
                <div style="width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div></div>
            </div>
            <div class="medihist-row-multiple">
                <div style="border-left: none; width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div style="width: 20%;"> <input type="text">
                </div>
                <div style="width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div></div>
            </div>
            <div class="medihist-row-multiple">
                <div style="border-left: none; width: 30%;"></div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div style="width: 20%;"> <input type="text">
                </div>
                <div style="width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div></div>
            </div>
            <div class="medihist-row-multiple">
                <div style="border-left: none; width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div style="width: 20%;"> <input type="text">
                </div>
                <div style="width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div></div>
            </div>
            <div class="medihist-row-multiple">
                <div style="border-left: none; width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div style="width: 20%;"> <input type="text">
                </div>
                <div style="width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div></div>
            </div>
            <div class="medihist-row-multiple">
                <div style="border-left: none; width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div style="width: 20%;"> <input type="text">
                </div>
                <div style="width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div></div>
            </div>
            <div class="medihist-row-multiple" style="border-bottom: none;">
                <div style="border-left: none; width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div style="width: 20%;"> <input type="text">
                </div>
                <div style="width: 30%;"> <input type="text">
                </div>
                <div style="width: 10%;"> <input type="text">
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>